<template name="searchAnnonces">
	<form class=" form" >
		<div class="form-controls">
			<label class="label-control">Villes</label>
				{{>cities}}
		</div>
		<div class="form-controls">
			<label class="label-control">Catégorie</label>
				{{>categories}}
		</div>
        <div class="form-controls">
        	<label class="label-control">Titre</label>
            <input type="text" class="form-control texte" placeholder="Trouver des annonces !" name="texte">
        </div>
        <!-- <div class="input-group">
	      <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Titre <span class="caret"></span></button>
	        <ul class="dropdown-menu">
	          <li><a href="#">Date</a></li>
	          <li><a href="#">Cat</a></li>
	          <li><a href="#">Something else here</a></li>
	          <li role="separator" class="divider"></li>
	          <li><a href="#">Separated link</a></li>
	        </ul>
	      </div>
	       <input type="text" class="form-control" aria-label="..."> 
	    </div>  -->
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Trouver</button>
    </form>
</template>