<template name="searchAnnonces">
	<div class="col-md-3">
		<form class=" form" >
			<div class="form-controls">
				<i class="fa fa-globe" aria-hidden="true"></i> <label class="label-control">Villes</label>
					{{>cities}}
			</div>
			<div class="form-controls">
				<i class="fa fa-briefcase" aria-hidden="true"></i> <label class="label-control">Catégorie</label>
					{{>categories}}
			</div>	
			<div class="form-controls">
				<!-- <i class="fa fa-briefcase" aria-hidden="true"></i> <label class="label-control">Catégorie</label> -->
					{{>slider}}
			</div>
			{{> Template.dynamic template=extraField data=brands}}
	        <div class="form-controls">
	        	<i class="fa fa-bullhorn" aria-hidden="true"></i> <label class="label-control">Titre</label>
	            <input type="text" class="form-control texte" placeholder="Trouver des annonces !" name="texte">
	        </div>
	        <!-- <div class="input-group">
		      <div class="input-group-btn">
		        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Titre <span class="caret"></span></button>
		        <ul class="dropdown-menu">
		          <li><a href="#">Date</a></li>
		          <li><a href="#">Cat</a></li>
		          <li><a href="#">Something else here</a></li>
		          <li role="separator" class="divider"></li>
		          <li><a href="#">Separated link</a></li>
		        </ul>
		      </div>
		       <input type="text" class="form-control" aria-label="..."> 
		    </div>  -->
	        <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Trouver</button>
	    </form>
	</div>
</template>
<template name="Voitures">
	<div class="form-controls">
		<i class="fa fa-briefcase" aria-hidden="true"></i> <label class="label-control"></label>
		{{#contentFor  'brands'}}
	</div>	
	<div class="form-controls">
		<i class="fa fa-briefcase" aria-hidden="true"></i> <label class="label-control"></label>
		{{>carsModel}}
	</div>	
	<div class="form-controls">
	   	<i class="fa fa-bullhorn" aria-hidden="true"></i> <label class="label-control"></label>
	     {{>gazoline}}
	</div>
	<div class="form-controls">
	  	<i class="fa fa-bullhorn" aria-hidden="true"></i> <label class="label-control"></label>
	      {{>yearOfModel}}
	</div>
	<div class="form-controls">
	  	<i class="fa fa-bullhorn" aria-hidden="true"></i> <label class="label-control"></label>
	     {{>km}}
	</div>
</template>
<template name="Motos">
	<div class="form-controls">
	  	<i class="fa fa-bullhorn" aria-hidden="true"></i> <label class="label-control"></label>
	      {{>yearOfModel}}
	</div>
	<div class="form-controls">
	  	<i class="fa fa-bullhorn" aria-hidden="true"></i> <label class="label-control"></label>
	     {{>km}}
	</div>
</template>