<template name="annoncePage">
	<div class="row">	
		  <div class="col-sm-6 col-md-8">		  			    			   				       
		  		<div class="panel panel-primary">		  			
					<div class="panel-heading"><h3>{{title}}</h3></div>
					<div class="panel-body">
						<div class="col-md-10 col-md-offset-1">
							{{>carousel photos=photos}}
						</div>							
					</div>	
					<div class="panel-footer">
						<p class="lead">
							{{description}}
							
								<a href="{{pathFor 'annoncePage'}}" class="btn btn-primary pull-right">
									<span class="glyphicon glyphicon-tag"></span> {{price}} DH
								</a>
						
						</p>
						
					</div>
								
		  		</div>
		      <div class="row">
		        <h3>{{title}}</h3>	        
		        <p class="lead">{{description}}</p>
		        <p>		    
		        	{{#if countComments}}
						<a href="{{pathFor 'annoncePage'}}" class="btn btn-primary">
							<span class="glyphicon glyphicon-comment"></span> {{countComments}}
						</a>
					{{/if}}
					{{#if ownAnnonce}}
						<a href="{{pathFor 'annonceEdit'}}" class="btn btn-warning">
						 Modifier<span class="glyphicon glyphicon-pencil"></span>
						</a>
					{{/if}}	
							
				</p>
	      </div>
	    </div>	  
	  <div class="col-md-4 pull-right">	  	
			<ul class="list-group">
				<li class="list-group-item active">
					<h2><span class="glyphicon glyphicon-user"></span> {{username}} {{#if user.status }}<span class="label label-success pull-right">En ligne</span>{{else}} <span class="label label-danger pull-right">Hors Ligne</span> {{/if}}</h2>								
				</li>
			  <li class="list-group-item">			   
			    <span class="glyphicon glyphicon-earphone"></span> <strong>Téléphone </strong>
			     <span class="badge">{{user.profile.phone}}</span>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">{{city}}</span>
			    <span class="glyphicon glyphicon-globe"></span> <strong>Ville </strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">{{email}}</span>
			    <span class="glyphicon glyphicon-envelope"></span> <strong>email</strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">{{price}} DH</span>
			    <span class="glyphicon glyphicon-tag"></span> <strong>Prix </strong>
			  </li>
			  <li class="list-group-item">
			    <span class="badge">{{category}}, {{offre}}</span>
			    <span class="glyphicon glyphicon-flag"></span> <strong>Type </strong>
			  </li>
			</ul>	
			{{>commentsList}}		
		</div>		
	</div>	
</template>