<template name="annonceItem">		
	<div class="col-md-11">
	<div class="col-md-1">
		<h2>
			<i class="fa fa-user" aria-hidden="true"></i>
		</h2>		
		{{#if status }}
			<span class="label label-success">{{username}}</span>
			{{else}}<span class="label label-danger">{{username}}</span>
		{{/if}}		
	</div>
	<div class="col-sm-6 col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<p class="title"><i class="fa fa-bullhorn" aria-hidden="true"></i> {{title}} <span class="pull-right white"><i class="fa fa-clock-o" aria-hidden="true"></i> {{submittedText}}</span></p> 
			</div>
			<div class="panel-body">
				<a href="{{pathFor 'annoncePage'}}" class="readIt thumbnail">	    		
		      		<img src="{{photo.url}}" />
		  		</a>				
			</div>
			<div class="panel-footer">
				{{#if reads}}
	        	<a href="{{pathFor 'annoncePage'}}" class="btn btn-default readIt">
	        		<i class="fa fa-eye" aria-hidden="true"></i>  {{pluralize reads "vue"}}
	        	</a> 
	        	{{/if}}
	        	{{#if countComments}}
					<a href="{{pathFor 'annoncePage'}}" class="btn btn-primary readIt">
						<i class="fa fa-comment" aria-hidden="true"></i>  {{pluralize countComments "commentaire"}}
					</a>
				{{/if}}
			</div>
		</div>
	  	<!-- <h2><blockquote> {{title}}<a href="#" class="pull-right">{{submittedText}}</a></blockquote></h2>	
	    <div class="thumbnail">
	    	<a href="{{pathFor 'annoncePage'}}" class="readIt">	    		
	      		<img src="{{photo.url}}" class="img-rounded"/>
	  		</a>
	      <div class="caption">
	        <h3>{{title}}</h3>	        
	        <p>{{description}}</p>
	        <p>
	        	{{#if reads}}
	        	<a href="{{pathFor 'annoncePage'}}" class="btn btn-default readIt">
	        		<span class="glyphicon glyphicon-eye-open"></span> {{reads}} 
	        	</a> 
	        	{{/if}}
	        	{{#if countComments}}
					<a href="{{pathFor 'annoncePage'}}" class="btn btn-primary readIt">
						<span class="glyphicon glyphicon-comment"></span> {{countComments}}
					</a>
				{{/if}}
				{{#if ownAnnonce}}
					<a href="{{pathFor 'annonceEdit'}}" class="btn btn-warning">
					 Modifier<span class="glyphicon glyphicon-pencil"></span>
					</a>
				{{/if}}						
			</p>
	      </div>
	    </div> -->
	  </div>
	</div>
</template>