<template name="gazoline">
	<div class="form-controls">			
		<label class="control-label">Type de carburant:</label>
			<div class="controls">
				<select id="gazoline" maxlength="50" class="form-control gazoline" name="gazoline" >
						<option value="unselected" selected>Selectionner le type de carburant</option>
							<option value="diesel">Diesel</option>
							<option value="essence">Essence</option>
							<option value="electrique">Eléctrique</option>
							<option value="lpg">LPG</option>
				</select>
			</div>			
	</div>
</template>