<template name="notifications">
	<li class="dropdown">
	   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-bell"></span> Notifications {{#if countNotifications}} <span class="badge"> {{countNotifications}}</span><span class="caret"></span>{{/if}}
	   </a>
	   {{#if notifications}}
	    <ul class="dropdown-menu">
	       	{{#each notifications}}
				{{>notificationItem}}
			{{/each}}
	       
	    </ul>
	    {{/if}}
	</li>
	
</template>
<template name="notificationItem">
	<li><a href="{{commentNotificationPath}}"><strong>{{commenterName}}</strong> a commenté sur votre annonce !</a></li>
</template>
